*{
	margin: 0;
	padding: 0;
}
body{
    min-height: 100vh;
}
header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
h1{
    font-weight: 400;
    color: #ef4135;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
}
h1 a{
    text-decoration: none;
}
nav{
    width: 400px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    flex-grow: 1;
}
header nav li a{
    text-transform: lowercase;
    text-decoration: none;
}
.home{
	display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
    justify-content: center;
    align-content: center;
}
.cuerpo{
	border: 2px solid red;
    height: 95vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}
.cuerpo h1{
    padding: 0;
}
.cuerpo div:first-child,
div:nth-child(2){
	width: 40%;
    height: 60%;
    border: 2px solid black;
}
span{
	display: flex;
    position: relative;
    border: 2px solid blue;
    height: 20%;
    top: 70%;
    align-items: center;
    justify-content: center;
}
.boton{
	display: flex;
    position: relative;
    border: 2px solid blue;
    height: 100px;
    align-items: center;
    justify-content: center;
}
button{
	border: 2px solid green;
    width: 100px;
    height: 100px;
}