*{
	margin: 0;
	padding: 0;
}
nav{
	border:2px solid black;
	position:fixed;
	right:0;
	margin: 10px 20px 0 0;
}
nav ul{
	width:500px;
	display:flex;
	justify-content: space-evenly;
	list-style:none;
}
.home{
	display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 40px;
    height: 40px;
    margin: 20px 0 0 20px;
    justify-content: center;
    align-content: center;
}
.cuerpo{
    display: flex;
    border: 2px solid red;
    height: 100vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}
.cuerpo div:first-child{
    font-size: 7em;
    width: 30%;
    border: 2px solid violet;
}
.cuerpo div:nth-child(2),
div:nth-child(3){
	width: 30%;
    height: 60%;
    border: 2px solid black;
}
.cuerpo div:nth-child(3){
    width: 40%;
}
.cuerpo div:nth-child(4){
    display: flex;
    width: 10%;
    height: 60%;
    border: 2px solid black;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
}
button{
    width: 70px;
    height: 80px;
}