*{
	margin: 0;
	padding: 0;
}
body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background: linear-gradient(329deg, #ffffff, #8cccff, #f8cdff, #83f1ff);
    animation: animate 13s ease infinite;
    background-size: 400% 400%;
}
header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header div{
    display: block;
    width: 60px;
}

header div img {
    display: block;
    height: 100%;
    width: 100%; 
}

nav{
    width: 500px;
    font-size: 30px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    flex-grow: 1;
}
header nav li a{
    text-transform: lowercase;
    text-decoration: none;
    color: #ea5c5c;
}

.abrir, .cerrar{
	display:none;
    -webkit-appearance:none;
	appearance:none;
	background-color:transparent;
}

.galeria{
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 100px;
    margin: 100px 50px 100px;

}
.galeria a,
.galeria img{
    display: block;
    border-radius: 5%;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 8px 15px rgba(255, 255, 255, 0.3); 
}
.modal{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100vh;
    background: linear-gradient(135deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
	display:none;
	justify-content:space-evenly;
	align-items:center;
}
.visible{
	display:flex;
}
.modal img{
    height: 50%;
    object-fit: contain;
    border-radius: 5%;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.modal button{
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: #0000008c;
    font-size: 6em;
    color: white;
    width: 80px;
    height: 100px;
    cursor: pointer;
    border-radius: 20%;
}

@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

@media  screen and (max-width:1200px){
    .galeria{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 60px;
        margin: 140px 50px 100px;
        justify-content: center;
    }
    .modal img{
        width: 80%;
        height: 30%;
        object-fit: cover;
    }
    .modal button{
        font-size: 3em;
        width: 40px;
        height: 70px;
    }
}
    

@media screen and (max-width:800px){
	nav{
		position:fixed;
		top:-100vh;
		left:0;
		padding:20px;
		width:calc(100% - 40px);
		height:calc(100vh - 40px);
		background-color:#ffffffe3;
		transition:top 0.8s;
	}
	.desplegado{
		top:0;
	}
	nav ul{
		display:block;
	}
	nav a{
		color:#ea5c5c;
		font-size:2.5em;
	}
	/*El mismo efecto que hemos hecho antes pero ahora en la vertical*/
	nav li:not(:first-child){
		margin-top:20px;
	}
	nav li:not(:last-child){
		margin-right:0;
	}
	.cerrar{
		display:block;
		position:absolute;
		top:20px;
		right:20px;
		cursor:pointer;
		color:#ea5c5c;
		border:none;
		font-size:2em;
	}
	.abrir{
        border-radius: 5px;
        display: block;
        width: 45px;
        padding: 5px 5px 0;
        border: none;
        cursor: pointer;
        margin-right: 10px;
	}
	.abrir span{
		display:block;
		height:5px;
		background-color:#ea5c5c;
		margin-bottom:5px;
	}
    .galeria{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 60px;
        margin: 140px 50px 100px;
    }
    .modal img{
        width: 70%;
        height: 25%;
        object-fit: cover;
    }
    .modal button{
        font-size: 3em;
        width: 40px;
        height: 70px;
    }
}


@media screen and (max-width:501px){ 
	.galeria{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 80%;
        margin: 50px 50px 50px 40px;
        flex-direction: column;
        align-content: center;
	}
    .modal img{
        width: 70%;
        height: 15%;
        object-fit: cover;
    }
    .modal button{
        font-size: 3em;
        width: 40px;
        height: 70px;
    }
}