*{
	margin: 0;
	padding: 0;
}
body{
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;
    background: linear-gradient(329deg, #ffffff, #8cccff, #f8cdff, #83f1ff);
    animation: animate 13s ease infinite;
    background-size: 400% 400%;
    overflow: hidden;
}
header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
header div{
    display: block;
    width: 60px;
}

header div img {
    display: block;
    height: 100%;
    width: 100%; 
}

nav{
    width: 500px;
    font-size: 30px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    flex-grow: 1;
}
header nav li a{
    text-transform: lowercase;
    text-decoration: none;
    color: #ea5c5c;
}

.abrir, .cerrar{
	display:none;
    -webkit-appearance:none;
	appearance:none;
	background-color:transparent;
}

.cuerpo{
    height: 93vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 10px ), repeating-linear-gradient( #fdefd955, #fdefd9 );
}
.cuerpo .story{
    width: 980px;
    height: 900px;
    margin-right: 200px;
    border: 2px solid #f1d1d1;;
    background-color: rgba(238, 215, 215, 0.5);
    border-radius: 20px;
}

.cuerpo .story h1{
    font-size: 13em;
    color: #ea5c5c;
    margin-left: 20px;
}

.cuerpo .story p{
    font-size: 2em;
    margin: 0 20px 0;
    color: #6d4c41;
}

.cookie{
    border: none;
    width: 260px; 
    height: 200px; 
    background-image: url('../img/cookie.png');
    background-size: cover;
    background-position: center;
    cursor: pointer;
    background-color: transparent;
    animation: float 2s ease-in-out infinite;
    transition:filter 0.7s ease;
}

/* Estilos para el confeti */
.confeti {
    position: absolute;
    width: 50px;
    height: 50px;
    animation: confeti-fall 3s linear infinite;
}

.hide-confeti {
    display: none;
}

/* Animación para el confeti */
@keyframes confeti-fall {
    0% {
        transform: translateY(-100vh) rotate(0deg);
    }
    100% {
        transform: translateY(100vh) rotate(360deg);
    }
}

@keyframes animate {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/*Animacion del boton*/
@keyframes float{
    0%{
        transform:translateY(0);
    }
    50%{
        transform:translateY(-10px);
    }
   100%{
        transform:translateY(0);
    }
}

@keyframes shake {
    0%{
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-5px) rotate(-2deg);
    }
    75% {
        transform: translateX(5px) rotate(2deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

@media  screen and (max-width:1600px){
    body{
        overflow: auto;
    }
    .cuerpo .story {
        width: 600px;
        height: 700px;
        border: 2px solid #f1d1d1;
        background-color: rgba(238, 215, 215, 0.5);
        border-radius: 20px;
        margin-right: 20px;
        margin-right: 20px;
    }
    .cuerpo .story p {
        font-size: 20px;
        margin: 0 20px 0;
        color: #6d4c41;
    }
    .cookie{
        top: 170px;
        position: absolute;
       }
    .cuerpo .story{
        margin-top: 300px;
        width: 600px;
        height: 650px;
        margin-bottom: 60px;
        margin-right: 0;
    }
}

@media screen and (max-width:800px){
	nav{
		position:fixed;
		top:-100vh;
		left:0;
		padding:20px;
		width:calc(100% - 40px);
		height:calc(100vh - 40px);
		background-color:#ffffffe3;
		transition:top 0.8s;
	}
	.desplegado{
		top:0;
	}
	nav ul{
		display:block;
	}
	nav a{
		color:#ea5c5c;
		font-size:2.5em;
	}
	/*El mismo efecto que hemos hecho antes pero ahora en la vertical*/
	nav li:not(:first-child){
		margin-top:20px;
	}
	nav li:not(:last-child){
		margin-right:0;
	}
	.cerrar{
		display:block;
		position:absolute;
		top:20px;
		right:20px;
		cursor:pointer;
		color:#ea5c5c;
		border:none;
		font-size:2em;
	}
	.abrir{
        border-radius: 5px;
        display: block;
        width: 45px;
        padding: 5px 5px 0;
        border: none;
        cursor: pointer;
        margin-right: 10px;
	}
	.abrir span{
		display:block;
		height:5px;
		background-color:#ea5c5c;
		margin-bottom:5px;
	}
    body{
        overflow: auto;
    }
    .cookie{
    top: 170px;
    position: absolute;
   }
   .cuerpo .story{
    margin-top: 300px;
    width: 500px;
    height: 650px;
    margin-bottom: 60px;
   }
   .cuerpo .story h1{
    font-size: 10em;
   }
}

@media screen and (max-width:700px){
    body{
        overflow: auto;
    }
    .cuerpo .story {
        width: 500px;
        height: 650px;
        border: 2px solid #f1d1d1;
        background-color: rgba(238, 215, 215, 0.5);
        border-radius: 20px;
        margin-right: 0;
        margin-bottom: 60px;
    }
    .cuerpo .story h1 {
        font-size: 9em;
        color: #ea5c5c;
        margin-left: 20px;
    }
}


@media screen and (max-width:501px){ 
    body{
        overflow: auto;
    }
    .cuerpo{
        height: auto;
    }
    .cuerpo .story{
        height: 700px;
        width: 450px;
        margin-right: 0;
        margin-bottom: 60px;
    }
    .cuerpo .story h1 {
        font-size: 9em;
        color: #ea5c5c;
        margin-left: 20px;
    }
}