*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
header{
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
h1{
    font-weight: 400;
    color: #ef4135;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 10px;
}
h1 a{
    text-decoration: none;
}
nav{
    width: 400px;
}
nav ul{
    list-style: none;
    display: flex;
}
nav li{
    flex-grow: 1;
}
header nav li a{
    text-transform: lowercase;
    text-decoration: none;
}
.cuerpo{
    border: 1px solid black;
    height: 95vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.cuerpo div{
    border: 1px solid red;
    height: 900px;
    width: 800px;
}
.cuerpo div:nth-child(2){
    border: 1px solid green;
    height: 500px;
}